
.login{
    background-color: #0D3F7A;
    color: white;
    font-size: x-large;
    padding:5% 20% 5% 20%;
    margin-left: 20%;
    margin-top: 5%;
}
.asideright{
    width: 20%;
    top: 100px;
    right: 0px;
    bottom: 0px;
    position: fixed;
}