header {
    background-color: #0D3F7A;
    display: flex;
    justify-content: center;
    padding: 10px 0 0 0;
    margin: 0px;
}

nav {
    margin: 40px 0 0 0;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-size: x-large;
    background-color: #d2d2d2;
}